*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.jumbotron{
  background-color: rgb(26, 100, 75);
}

h2{
  color: antiquewhite;
  font-size: large;
}

.searchicon{
  color: aliceblue;
  
}

.results{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  
}

.result{
  height: auto;
  width: 80vw;
  background-color: rgb(233, 227, 227);
  border-radius: 16px;
  padding: 16px;
  margin-bottom: 20px;
  margin-left: 10%;

}

.result p .searchmatch{
  font-weight: 900;
  
}

h2{
  text-align: center;
  font-size: xx-large;
  font-family: 'fantasy', sans-serif;
}
